

model_settings:
  name: "stub-llm"

phi3model_settings:
  name: "microsoft/Phi-3-mini-4k-instruct"
  type: "local" # Helps my code know to load it locally
  temperature: 0.0  

garak:
  probes: ["promptinject","dan", "jailbreak"]
  generations: 5

patches:
  prompt_patch: false
  output_patch: false

garak_:
  probes: []
  output_patch: "results/"