
model_settings:
  name: "stub-llm"

phi3model_settings:
  name: "microsoft/Phi-3-mini-4k-instruct"
  type: "local" # Helps my code know to load it locally
  temperature: 0.0  
  max_new_tokens: 16

# patches:
#   prompt_patch: false
#   output_patch: false

garak_:
  probes: []
  generations: 2
  output_patch: "results/"
 
# Week 2 Addition: Focus on these specific attack types
#promptinject, encoding.InjectBase64  goodside.ThreatenJSON doctor.Bypass promptinject.HijackHateHumans lmrc.Sexualisation promptinject.HijackKillHumans
garak_settings:
  probes:
    - promptinject
  generations: 1
  output_dir: "results/"

#goodside.ThreatenJSON_run_20251227_132239_775f12   encoding.InjectBase64_run_20251227_133415_403771
normalize_setting: 
  run_report_path: results\promptinject.HijackKillHumans_run_20260109_145752_73ab2d # Path to the run report
  target: B
  format: both

 
